@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');



*{
box-sizing: border-box;


}

body {
background-size: cover;
background-position: center center;
margin: 0;
font-family: "Roboto", sans-serif;
min-height: 100vh;
background-image: url('./images/pexels-mohamad-2406731.jpg');
flex-direction: column;
display: flex;
align-items: center;

background-repeat:no-repeat ;

}
h1{
font-weight: normal;
    font-size: 4rem;
    margin-top:5rem;
}

.contdown-container{

    display: flex;
}
.big-text{
font-size: 6rem;
line-height: 1;
margin: 0 2rem;
font-weight: bold;

}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.3rem;
}